/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-header ion-toolbar {
    padding-top: 20px !important;
    --background: #0f1161;
    height: 85px;
    position: relative;
    width: 100%;
  }

  h1 {
    color: white;    
  }

  .toolBar {
      text-align: center;
  }

  .app-content {
    float: left;
    width: 100%;
    position: relative;
    padding: 0em 0em 4em 0em;
    overflow: hidden;
    background-color: #c0c0ed;
  }

  .row-full {
    width: 100%;
    float: left;
    position: relative;
  }

  .mt30 {
    margin-top: 30px;
  }

  .mb100 {
    margin-bottom: 100px;
  }

  .central-content-buttons {
    width: 100%;
    position: relative;
    top: 0;
    float: left;
    padding-left: 5% !important;
    padding-bottom: 5% !important;
  }

  .btn-main-action-home {
    height: 115px;
    line-height: 60px;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: -1px;
    margin-bottom: 10px;
  }

  .btn-carga-home {
    --background: white;
    --border-radius: 15px;
  }

  .txt-cen {
    text-align: center;
  }

  .icon-home {
    width: 100%;
    letter-spacing: 0px;
    color: white;
  }

  .icon-home-botao {
    --border-radius: 10px;
  }

  .icon-home-texto {
    font-size: 10px;
    bottom: 5px;
    position: absolute;
    width: 100px;
    text-transform: uppercase;
    color: #0f1161;
  }

  .icon-home-img-carregar {
    height: 78px;
  }