<ion-header>    
  <ion-toolbar>

    <ion-buttons slot="start">
      <!-- <span class="notification-bullet notification-bullet-header">{{ notificacoesCount }}</span> -->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="toolBar">
    <h1>App do Ismael</h1>
  </div>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="app-content">
    <div class="row-full mt30 mb100">
      <div class="central-content-buttons">
        <ion-button
          class="btn-main-action-home btn-carga-home row-full txt-cen icon-home icon-home-botao" style="width: 30%">
          <span class="icon-home-texto"><a href="https://www.restaurantemugui.com" target="_blank">
            <img src="../assets/icon/comida.jpg" class="icon-home icon-home-img-carregar" /><br>
            Carregar<br>Cartão</a></span>
        </ion-button>

        <ion-button 
          class="btn-main-action-home btn-carga-home row-full txt-cen icon-home icon-home-botao" style="width: 30%">
          <span class="icon-home-texto"><a href="https://www.unimed.coop.br" target="_blank">
            <img src="../assets/icon/médico.jpg" class="icon-home icon-home-img-carregar" /><br>
            Trocar por<br>litros</a></span>
        </ion-button>

        <ion-button 
          class="btn-main-action-home btn-carga-home row-full txt-cen icon-home icon-home-botao" style="width: 30%">
          <span class="icon-home-texto"><a href="https://moovitapp.com" target="_blank">
            <img src="../assets/icon/transporte.jpg" class="icon-home icon-home-img-carregar" /><br>
            Pagar via<br>App</a></span>
        </ion-button>
      </div>

      <div class="central-content-buttons">
        <ion-button
          class="btn-main-action-home btn-carga-home row-full txt-cen icon-home icon-home-botao" style="width: 30%">
          <span class="icon-home-texto"><a href="https://www.hamburguinho.com.br" target="_blank">
            <img src="../assets/icon/hamburguer.jpg" class="icon-home icon-home-img-carregar" /><br>
            Carregar<br>Cartão</a></span>
        </ion-button>

        <ion-button 
          class="btn-main-action-home btn-carga-home row-full txt-cen icon-home icon-home-botao" style="width: 30%">
          <span class="icon-home-texto"><a href="https://www.trivago.com.br" target="_blank">
            <img src="../assets/icon/hoteis.jpg" class="icon-home icon-home-img-carregar" /><br>
            Trocar por<br>litros</a></span>
        </ion-button>

        <ion-button 
          class="btn-main-action-home btn-carga-home row-full txt-cen icon-home icon-home-botao" style="width: 30%">
          <span class="icon-home-texto"><a href="www.praias.com.br" target="_blank">
            <img src="../assets/icon/praia.jpg" class="icon-home icon-home-img-carregar" /><br>
            Pagar via<br>App</a></span>
        </ion-button>
      </div>

      <div class="central-content-buttons">
        <ion-button
          class="btn-main-action-home btn-carga-home row-full txt-cen icon-home icon-home-botao" style="width: 30%">
          <span class="icon-home-texto"><a href="https://www.hamburguinho.com.br" target="_blank">
            <img src="../assets/icon/hamburguer.jpg" class="icon-home icon-home-img-carregar" /><br>
            Carregar<br>Cartão</a></span>
        </ion-button>

        <ion-button 
          class="btn-main-action-home btn-carga-home row-full txt-cen icon-home icon-home-botao" style="width: 30%">
          <span class="icon-home-texto"><a href="https://www.trivago.com.br" target="_blank">
            <img src="../assets/icon/hoteis.jpg" class="icon-home icon-home-img-carregar" /><br>
            Trocar por<br>litros</a></span>
        </ion-button>

        <ion-button 
          class="btn-main-action-home btn-carga-home row-full txt-cen icon-home icon-home-botao" style="width: 30%">
          <span class="icon-home-texto"><a href="www.praias.com.br" target="_blank">
            <img src="../assets/icon/praia.jpg" class="icon-home icon-home-img-carregar" /><br>
            Pagar via<br>App</a></span>
        </ion-button>
      </div>      
    </div>
  </div>
</ion-content>
